.robot-container {
    top: 35px;
    position: relative;
    margin: 80px auto;
    width: fit-content;
    padding: 20px;
}

.robot-face-shape {
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    background: aqua;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    border: 5px solid aqua;
    border-radius: 12px;
    box-shadow: 0 0 0 5px aqua;
    padding: 10px;
}

.robot-face-shape::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #1c2b3f;
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}

.robot-eye-left {
    position: absolute;
    top: 30%;
    width: 40px;
    height: 40px;
    background: #ccf9ff;
    border-radius: 50%;
    box-shadow: 0 0 10px aqua;
    left: 20%;
}

.robot-eye-right {
    position: absolute;
    top: 30%;
    width: 40px;
    height: 40px;
    background: #ccf9ff;
    border-radius: 50%;
    box-shadow: 0 0 10px aqua;
    right: 20%;
}

.robot-ear-left {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background: red;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow:
    0 0 10px red,
    0 0 20px red,
    0 0 30px red;
}

.robot-ear-right {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 40px;
    background: red;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow:
    0 0 10px red,
    0 0 20px red,
    0 0 30px red;
}

.robot-nose {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 50px;
    background: aqua;
    border-radius: 2px;
}

.robot-teeth {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
    width: 180px;
    height: 40px;
    background: #1c2b3f;
    border-radius: 0 0 60px 60px;
    padding: 4px;
    overflow: hidden;
}

.robot-tooth {
    background: #ffffff;
    border-radius: 1px;
}

.robot-hair-style {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.robot-hair-one {
    width: 10px;
    height: 15px;
    background: orange;
}

.robot-hair-two {
    width: 15px;
    height: 30px;
    background: plum;
}

.robot-hair-three {
    width: 25px;
    height: 60px;
    border-radius: 12px 12px 0 0;
    background: magenta;
}
